<!DOCTYPE html>
<html lang='en' ng-app='app'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>angular lab</title>
  <link href='index.css' rel='stylesheet' type='text/css' />
</head>

<body ng-controller='FormController as list'>
  <h1>To-Do List:</h1>
  <br />
  <br />
  <div class='bigdiv'>
    <input class='add' type='text' ng-model='list.newItem' ng-keyup='$event.keyCode == 13 && list.addItem()' placeholder='Add New To-Do Item Here' size='24' />
    <button class='add' ng-click='list.addItem()'>Add</button>
    <strong> || </strong>
    <input class='search' type='text' ng-model='list.search' placeholder='Search For Item Here' size='21' />
    <br />
    <br />
    <div class='meddiv'>
      <div class='lildiv'>
        <h3 ng-repeat='item in list.item | filter: list.search'>
          <span>{{item}}</span>
          <span>{{newItem}}</span>
          <span id='x' ng-click='list.remove(item)'>X</span>
        </h3>
      </div>
    </div>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js'></script>
  <script src='ctrl.js'></script>
</body>
</html>
